/venv/
/yolov5/
/rama_classify_model/
/autotests_dataset/
/autotests_dataset/begickaya/
/autotests_dataset/ruzhimmash/
/prod_classify.pt
/prod_classify.zip
/rama_no_spring_begickaya_text_detect_weights.pt
/rama_no_spring_begickaya_text_detect_weights.zip
/rama_no_spring_bejickaya_text_detect_weights.zip
/rama_no_spring_detect_weights.pt
/rama_no_spring_detect_weights.zip
/rama_spring_detect_weights.pt
/rama_spring_detect_weights.zip
/rama_spring_ruzhimmash_text_detect_weights.pt
/rama_spring_ruzhimmash_text_detect_weights.zip
/text_recognize_yolo.pt
/text_recognize_yolo.zip
/rama_text_begickaya_detect.pt
/rama_text_begickaya_detect.zip
/rama_text_ruzhimmash_detect.pt
/rama_text_ruzhimmash_detect.zip
/rama_ruzhimmash_text_detect.zip
/vagon_number_detect.pt
/vagon_number_detect.zip
/detail_classify_model.h5
/detail_classify_model.zip
/vagon_autotest_dataset/
